<nav class="navbar navbar-default" role="navigation" bs-navbar>
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    </div>
    <div class="navbar-collapse collapse" id="nav">
        <ul class="nav navbar-nav">
            <li><a href="/#!lootgenerator" data-toggle="collapse" data-target="#nav">Loot Generator</a></li>
            <li><a href="/#!treasureroll" data-toggle="collapse" data-target="#nav">Treasure Roll</a></li>
            <li><a href="/#!wildmagicsurge" data-toggle="collapse" data-target="#nav">Wild Magic Surge</a></li>
            <li><a href="/#!travelencounters" data-toggle="collapse" data-target="#nav">Travel Encounters</a></li>
            <li><a href="/#!itemmanagement" data-toggle="collapse" data-target="#nav">Item Management</a></li>
        </ul>
    </div>
</nav>