<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Configuration</h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-5">
                <label>Loot Type:</label>
                <select ng-model="lootType">
                    <option value="generic">Generic</option>
                    <option value="smithy">Smithy</option>
                    <option value="alchemist">Alchemist</option>
                    <option value="stockmerchant">Stock Merchant</option>
                </select>
            </div>
            <div class="col-sm-4">
                <label><input type="checkbox" checked ng-model="bEnableMagicalItems" /> Enable Magical Items</label>
            </div>
            <div class="col-sm-3">
                <div>
                    <label># Results</label>
                    <rzslider rz-slider-model="numResults.value" rz-slider-options="numResults.options"></rzslider>
                </div>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-sm-5">
                <button type="button" class="btn btn-primary" ng-click="generateLoot()">Generate</button>
            </div>
        </div>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Results</h3>
    </div>
    <div class="panel-body">
        <div ng-hide="lootTable.length > 0">
            <p>No results.</p>
        </div>
        <table class="table" ng-show="lootTable.length > 0">
            <thead>
                <tr>
                    <td><b>Name</b></td>
                    <td><b>Worth</b></td>
                    <td><b>Is Magical</b></td>
                </tr>
            </thead>
            <tbody ng-repeat="item in lootTable track by $index">
                <tr ng-click="item.show = !item.show">
                    <td>{{ item.name }}</td>
                    <td>{{ item.worth }}</td>
                    <td>{{ item.bmagical == 1 ? "Yes" : "No" }}</td>
                </tr>
                <tr ng-show="item.show" class="item-description">
                    <td colspan="3">
                        <p>Rarity: {{ decipherRarity(item.rarity) }}</p>
                        <p><i>{{ item.description ? item.description : "No description available." }}</i></p>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>