.item-description {
    background-color: lightgrey;
}

.navbar-nav {
    margin: 0;
}

#wms_d100 {
    border: none;
    text-align: center;
    font-size: 20px;
    width: 100%;
    max-width: 50px;
    background: none;
}

#itemmanagement_itemtypes label {
    display: block;
}