<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Wild Magic Surge</h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <label><b>d100 Roll</b></label>
            <button ng-mousedown="d100Roll = d100Roll - 1"><</button>
            <input type="number" ng-model="d100Roll" />
            <button ng-mousedown="d100Roll = d100Roll + 1">></button>
        </div>
        <div class="row">
            <button ng-click="getWildMagic()">Submit</button>
        </div>
    </div>
</div>
<div class="well" ng-hide="!rollResult">
    {{ rollResult }}
</div>