<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Wild Magic Surge</h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <label><b>d100 Roll</b></label>
        </div>
        <div class="row" style="text-align: center;">
            <button class="btn btn-default" ng-mousedown="modifyd100(-1)"><</button>
            <input disabled id="wms_d100" type="number" ng-model="d100.value" />
            <button class="btn btn-default" ng-mousedown="modifyd100(1)">></button>
            <rzslider rz-slider-model="d100.value" rz-slider-options="d100.options"></rzslider>
        </div>
        <div class="row">
            <button class="btn btn-primary" ng-click="getWildMagic()">Submit</button>
        </div>
    </div>
</div>
<div class="well" ng-hide="!rollResult">
    {{ rollResult }}
</div>
<table class="table table-bordered">
    <thead>
        <tr>
            <td><b>d100</b></td>
            <td><b>Result</b></td>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="row in wildMagic track by $index">
            <td style="text-align: center;">{{ $index + 1 }}</td>
            <td>{{ row }}</td>
        </tr>
    </tbody>
</table>