<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Treasure Roll</h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-12">
                <label>d20 Roll</label>
                <rzslider rz-slider-model="d20.value" rz-slider-options="d20.options"></rzslider>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <label>d100 Roll</label>
                <rzslider rz-slider-model="d100.value" rz-slider-options="d100.options"></rzslider>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-sm-12">
                <button class="btn btn-primary" ng-click="calculateTreasureRoll()">Roll</button>
            </div>
        </div>
    </div>
    <div class="well" ng-hide="!rollResult">
        <b>Result: {{ rollResult }}</b>
    </div>
</div>
<table class="table table-bordered">
    <thead>
        <tr>
            <td colspan="3"><b>Table A (d20 < 18)</b></td>
        </tr>
        <tr>
            <td style="width: 30%; text-align: center;"><i>d100 Roll</i></td>
            <td><i>Reward</i></td>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="row in rewardTableA() track by $index">
            <td style="text-align: center;">{{ row.min }}-{{ row.max }}</td>
            <td>{{ row.roll }} {{ row.coin }}</td>
        </tr>
    </tbody>
</table>
<table class="table table-bordered">
    <thead>
        <tr>
            <td colspan="3"><b>Table B (d20 >= 18)</b></td>
        </tr>
        <tr>
            <td style="width: 30%; text-align: center;"><i>d100 Roll</i></td>
            <td><i>Reward</i></td>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="row in rewardTableB() track by $index">
            <td style="text-align: center;">{{ row.min }}-{{ row.max }}</td>
            <td>{{ row.roll }} {{ row.coin }}</td>
        </tr>
    </tbody>
</table>
